/* Viewport */
* {
    box-sizing: border-box;
  }



/* damos el tamaño de cada colunma del Grid-View */
        [class*="col-"] {
                float: left;
                padding: 15px;
                border: 1px solid red;
        } 

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

/* damos un estilo al fondo */
        body {
                /* Ubicación de la imagen */
                background-image: url("img/portada11.jpg");                
                                
                
                /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */

                background-position: center center;

                /* Para que la imagen de fondo no se repita */

                background-repeat: no-repeat;

                /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

                background-attachment: fixed;

                /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

                background-size: cover;

                /* Se muestra un color de fondo mientras se está cargando la imagen

                de fondo o si hay problemas para cargarla */

                background-color: #C8CACA; 
                }

/* damos un estilo al título*/
        .titulo{
                color: #F1EEF5;
                text-align: center;
                font-size: 40px;
                opacity: 0.6;
                 }

/* damos un estilo a los botones */
        .button {
                border-radius: 10px;
                background-color: #F1EEF5; 
                color: #818384;
                font-size: 80px;
                padding: 25px 15px;
                text-align: center;
                font-weight: 600;
                text-decoration: none;
                display: inline-block;
                margin: 44px 22px;
                cursor: pointer;
                opacity: 0.3;
                border: 10px solid #0E8896;
                }

/* creamos efecto a los botones*/

        
        .cliente:hover{
                background: #F1EEF5;
                color: #0E8896;
                opacity: 1.0;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                }  
        
         
        .empleado:hover{
                 background: #F1EEF5;
                color: #0E8896;
                opacity: 1.0;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                } 


/* damos un estilo al copy */
        .pie{
                color: #F1EEF5;
                opacity: 0.6; 
                text-align: center;
                font-size: 15px;               
                }

        #logo{
                width: 150px;                
                opacity: 0.6;
                }

